/* Add your custom styles here */
.login-body {
    
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-container {
    display: flex;
    background-color: rgba(25, 21, 40, 0.75);
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #2c2c2c;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(25, 21, 40, 0.75);
  }

  button {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    overflow: hidden;
  }
  
  
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://media.istockphoto.com/id/1320021417/photo/parents-and-their-two-children-watching-tv-together-at-home.jpg?s=612x612&w=0&k=20&c=0X6KbozgniNq97tNa8j2skC9CCOSEVxJeIz8a-p7zJQ=");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-content p {
  font-family: 'Momcake', cursive; /* Use a cool-looking font (replace 'Roboto' with your preferred font) */
  font-size: 35px; /* Adjust the font size */
  color: #ffffff; /* Set text color to white */
  line-height: 1.5; /* Adjust line height for better readability */
  text-align: center; /* Center-align the text */
  max-width: 600px; /* Limit the maximum width of the text */
  margin: 0 auto; /* Center the text horizontally */
  opacity: 0.9; /* Set the opacity for a subtle effect */
  /* Add any other desired CSS properties */
}
